body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar img {
    height: 30px;
    padding: 5px 10px;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.section {
    padding: 20px;
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.description-container {
    height: 280px;
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
}

.description-container>div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
    border-top: 1px solid rgb(228, 228, 228);
}

.description-container h2 {
    color: var(--darkGray);
    font-weight: bolder;
}

.description-container p {
    color: var(--gray);
    text-align: justify;
}

.description-container>div>div {
    width: 500px;
}

.description-container>img {
    width: 40%;
    object-fit: cover;
}

.description-left-footer {
    display: flex;
    justify-content: space-between;
}